@font-face {
    font-family: "mininal";
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
    height: 100%;
    font-size: 3rem;
    text-transform: uppercase;
}
#result_label {
  font-size: 1.4rem;
}
/* for chrome*/
::-webkit-input-placeholder{
    text-align: center;
}
/* for firefox 18*/
:-moz-placeholder{
    text-align: center;
}
/* for firefox 19*/
::-moz-placeholder{
    text-align: center;
}
/* for IE */
:-ms-input-placeholder{
    text-align: center;
}

top,bottom {
  height: 100%;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.exsert {
  text-align: center;
}

main, .main {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

img {
  width: auto;
  height: 20rem;
  display: flex;
}
#privacypolicy {
    text-decoration: none;
    font-size: x-small;
    color: #212121;
    align-self: flex-end;
    padding: 5px;
}

ul{
  display: inline-flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul a {
  margin-left: 5px;
  margin-right: 5px;
}

.icon {
  width: 32px;
  height: 32px;
}
#subscription {
  display: flex;
  justify-content: center;

}
#btn-style{
    border: solid 1px #212121;
    font-size: 10px;
    letter-spacing: 1px;
    color: #212121;
    max-width: 70px;
    height: 28px;
    background-color: transparent;
    outline: none;
}

.text-announcement {
  margin-top: 20px;
  margin-bottom: 0px;
}

#btn-style:hover {
    background-color: #000000;
    color: #FFFFFF;
}
#email {
  width: 30rem;
  height: 28px;
  font-size: 10px;
  text-transform: uppercase;
  border: solid 1px #40444D;
}

.facebook {
    background-image: url("/assets/Circle/Facebook%20Solid.svg");
}

.facebook:hover {
    background-image: url("/assets/Circle/Facebook%20Solid%20Background.svg");
}

.twitter {
    background-image: url("../assets/Circle/Twitter%20Solid.svg");
}

.twitter:hover {
    background-image: url("../assets/Circle/Twitter%20Solid%20Background.svg");
}

.instagram {
    background-image: url("../assets/Circle/Instagram%20Solid.svg");
}

.instagram:hover {
    background-image: url("../assets/Circle/Instagram%20Solid%20Background.svg");
}

.soundcloud {
    background-image: url("../assets/Circle/Soundcloud%20Solid.svg");
}

.soundcloud:hover {
    background-image: url("../assets/Circle/Soundcloud%20Solid%20Background.svg");
}
.mailto {
    background-image: url("../assets/Circle/Email%20Solid.svg");
}

.mailto:hover {
    background-image: url("../assets/Circle/Email%20Solid%20Background.svg");
}

/*
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  width: 100vw;
  height: 33vh;
  margin-left: -8px;
  margin-top: -8px;
  margin-bottom: 8px;
}
#logo_image {
  min-width: 250px;
  max-width: 33vw;
  max-height: 33vh;
  width: 100%;
}
#privacypolicy {
    text-decoration: none;
    font-size: x-small;
    color: #212121;
    align-content: flex-end;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 2;
  height: 100%;
  width: 100%;
 }

.aside {
  flex: 0 0 10em; }

.aside-1 {
  order: 1;
  display: flex;
 }
#bottom {
  margin: 0px;
}

#top {
 margin: 0px;
}
.aside-2 {
  order: 3; }

.top {
  display: flex;
  justify-content: center;
}
.bottom{
  display: flex;
  justify-content: center;
}

#privacypolicy {
    align-self: flex-end;
    padding: 5px;
  }

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px; }

  .aside-1 {
    order: 1; }

  .main {
    order: 2; }

  .aside-2 {
    order: 3; } }

.contents {
  display: block;
}

.icons {
  list-style: none;
}
.facebook {
    background-image: url("../assets/Circle/Facebook%20Solid.svg");
}

.facebook:hover {
    background-image: url("../assets/Circle/Facebook%20Solid%20Background.svg");
}

.twitter {
    background-image: url("../assets/Circle/Twitter%20Solid.svg");
}

.twitter:hover {
    background-image: url("../assets/Circle/Twitter%20Solid%20Background.svg");
}

.instagram {
    background-image: url("../assets/Circle/Instagram%20Solid.svg");
}

.instagram:hover {
    background-image: url("../assets/Circle/Instagram%20Solid%20Background.svg");
}

.soundcloud {
    background-image: url("../assets/Circle/Soundcloud%20Solid.svg");
}

.soundcloud:hover {
    background-image: url("../assets/Circle/Soundcloud%20Solid%20Background.svg");
}
.mailto {
    background-image: url("../assets/Circle/Email%20Solid.svg");
}

.mailto:hover {
    background-image: url("../assets/Circle/Email%20Solid%20Background.svg");
}

*/
/*
.Site {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


#logo_image {
  min-width: 250px;
  max-width: 27vw;
  max-height: 27vh;
  width: 100%;
}

.text-announcement {
margin-top: 4vh;
font-size: 2.0vmax;
text-transform: uppercase;
}

.main_body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#email{
    border: solid 1px #40444D;
    width: 300px;
    max-width: 30vw;
    min-width: 20vw;
    font-size: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    color: #40444D;
    padding: 3px 5px;
    height: 25px;
    background-color: transparent;
    outline: none;
}




#btn-style{
    border: solid 1px #212121;
    font-size: 10px;
    margin-top: 5px;
    letter-spacing: 1px;
    color: #212121;
    max-width: 70px;
    height: 25px;
    background-color: transparent;
    outline: none;
}

#btn-style:hover {
    background-color: #000000;
    color: #FFFFFF;
}

#subscription {
    margin-top: 1vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#result_label {
  margin: 0px;
}

input {
    text-align: center;
}
/* for chrome* /
::-webkit-input-placeholder{
    text-align: center;
}
/* for firefox 18* /
:-moz-placeholder{
    text-align: center;
}
/* for firefox 19* /
::-moz-placeholder{
    text-align: center;
}
/* for IE * /
:-ms-input-placeholder{
    text-align: center;
}

.icon_container {
  margin-top: 1vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 2vh;
}

div.displayMessage {
  height: 32px;
  margin: 0px;
}
div.icon-only {
  width: 40px;
  height: auto;
  display: flex;
  justify-content: center;
}
.icon {
    width: 32px;
    height: 32px;
}

.facebook {
    background-image: url("../assets/Circle/Facebook%20Solid.svg");
}

.facebook:hover {
    background-image: url("../assets/Circle/Facebook%20Solid%20Background.svg");
}

.twitter {
    background-image: url("../assets/Circle/Twitter%20Solid.svg");
}

.twitter:hover {
    background-image: url("../assets/Circle/Twitter%20Solid%20Background.svg");
}

.instagram {
    background-image: url("../assets/Circle/Instagram%20Solid.svg");
}

.instagram:hover {
    background-image: url("../assets/Circle/Instagram%20Solid%20Background.svg");
}

.soundcloud {
    background-image: url("../assets/Circle/Soundcloud%20Solid.svg");
}

.soundcloud:hover {
    background-image: url("../assets/Circle/Soundcloud%20Solid%20Background.svg");
}
.mailto {
    background-image: url("../assets/Circle/Email%20Solid.svg");
}

.mailto:hover {
    background-image: url("../assets/Circle/Email%20Solid%20Background.svg");
}

.footer {
    position: fixed;
    bottom: 0%;
    float:left;
    margin-left: 1%;
    /*width: 100%;
    display: flex;
     justify-content: center;
    flex-direction: row;
    align-items: center;
    Set the fixed height of the footer here */
    /*
    min-height: 10%;
    height: 20%;
    * /
}
#privacypolicy {
    text-decoration: none;
    font-size: x-small;
    color: #212121;
}
*/
