@font-face {
    font-family: "mininal";
    src: url('../fonts/Dense-Regular.otf') format('opentype');
}
body {
    background-color: #ffffff;
}
h1{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.35em;
    font: 88px "mininal";
    background: #fff;
}
h1:after {
    content: "";
    display: block;
    width: 4em;
    height: 0.0035em;
    margin: 0.3em auto 0.35em auto;
    background: #000000;
}
ul {
    text-align: center;
}
ul li {
    display: inline;
    padding: 20px;
}
#email{
    border: solid 1px #40444D;
    font-size: 10px;
    color: #40444D;
    padding: 3px 5px;
    width: 450px;
    height: 25px;
    background-color: transparent;
    outline: none;
}
#btn-style{
    border: solid 1px #212121;
    font-size: 10px;
    letter-spacing: 1px;
    color: #212121;
    padding: 10px 25px;
    background-color: transparent;
    outline: none;
}

#subscription {
    text-align: center;
}

input {
    text-align: center;
}
/* for chrome*/
::-webkit-input-placeholder{
    text-align: center;
}
/* for firefox 18*/
:-moz-placeholder{
    text-align: center;
}
/* for firefox 19*/
::-moz-placeholder{
    text-align: center;
}
/* for IE */
:-ms-input-placeholder{
    text-align: center;
}

li.ui {
    position: relative;
    vertical-align: middle;
    padding-right: 70px;
    margin-right: 5px;
    display: inline;
}

li.ui.icon-only > .icon {
    position: absolute;
}

li.ui .facebook {
    background-image: url("../assets/social-006_facebook.png");
    width: 32px;
    height: 32px;
}

li.ui .twitter {
    background-image: url("../assets/social-003_twitter.png");
    width: 32px;
    height: 32px;
}

li.ui .instagram {
    background-image: url("../assets/social-038_instagram.png");
    width: 32px;
    height: 32px;
}

li.ui .soundcloud {
    background-image: url("../assets/social-034_soundcloud.png");
    width: 32px;
    height: 32px;
}
