@font-face {
    font-family: "mininal";
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
    height: 100%;
    font-size: 3rem;
    text-transform: uppercase;
}
#result_label {
  font-size: 1.4rem;
}
/* for chrome*/
::-webkit-input-placeholder{
    text-align: center;
}
/* for firefox 18*/
:-moz-placeholder{
    text-align: center;
}
/* for firefox 19*/
::-moz-placeholder{
    text-align: center;
}
/* for IE */
:-ms-input-placeholder{
    text-align: center;
}

top,bottom {
  height: 100%;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.excerpt {
  text-align: center;
}

main, .main {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

img {
  width: auto;
  height: 20rem;
  display: flex;
}
#privacypolicy {
    text-decoration: none;
    font-size: x-small;
    color: #212121;
    align-self: flex-end;
    padding: 5px;
}

ul{
  display: inline-flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul a {
  margin-left: 5px;
  margin-right: 5px;
}

.icon {
  width: 32px;
  height: 32px;
}
#subscription {
  display: flex;
  justify-content: center;

}
#btn-style{
    border: solid 1px #212121;
    font-size: 10px;
    letter-spacing: 1px;
    color: #212121;
    max-width: 70px;
    height: 28px;
    background-color: transparent;
    outline: none;
}

.text-announcement {
  margin-top: 20px;
  margin-bottom: 0px;
}

#btn-style:hover {
    background-color: #000000;
    color: #FFFFFF;
}
#email {
  width: 30rem;
  height: 28px;
  font-size: 10px;
  text-transform: uppercase;
  border: solid 1px #40444D;
}

.facebook {
    background-image: url("/assets/Circle/Facebook%20Solid.svg");
}

.facebook:hover {
    background-image: url("/assets/Circle/Facebook%20Solid%20Background.svg");
}

.twitter {
    background-image: url("../assets/Circle/Twitter%20Solid.svg");
}

.twitter:hover {
    background-image: url("../assets/Circle/Twitter%20Solid%20Background.svg");
}

.instagram {
    background-image: url("../assets/Circle/Instagram%20Solid.svg");
}

.instagram:hover {
    background-image: url("../assets/Circle/Instagram%20Solid%20Background.svg");
}

.soundcloud {
    background-image: url("../assets/Circle/Soundcloud%20Solid.svg");
}

.soundcloud:hover {
    background-image: url("../assets/Circle/Soundcloud%20Solid%20Background.svg");
}
.mailto {
    background-image: url("../assets/Circle/Email%20Solid.svg");
}

.mailto:hover {
    background-image: url("../assets/Circle/Email%20Solid%20Background.svg");
}
